*,*::after,*::before {
    margin:0;
    padding:0;
}

body {
    font-family: "Roboto";
    background-color: #55557E;
}

.back-to-main {
	position: fixed;
	top: 20px;
	left: 20px;
}

.back-img {
	width: 30px;
	height: 30px;
}

.bigConatiner {
    position: relative;
    width: 550px;
    display: flex;
    flex-direction: column;
    margin: 0 auto
}

.nav-links {
    display: flex;
    margin: 50px auto;

}

.nav-items {
    display: flex;
    background-color: rgba(37, 37, 37, 0.5);
    padding: 20px 30px;
    align-self: center;
    justify-content: center;
}

.nav-items:hover {
    background-color: rgba(37, 37, 37, 0.8);
}

.nav-img {
    width: 35px;
    height: 35px;
}

.active {
    padding: 30px 40px;
    background-color: #252525;
}

.active:hover {
    background-color: #252525;
}

.border-item {
    width: 1px;
    background-color: #AAA;
    height: 100%;
}

.card {
    width: 80%;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
}

.header-card {
    position: relative;
    height: 280px;
    background-image: url('img/food.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header-content {
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.header-content h4 {
    font-size: 2.5rem;
    font-weight: 500;
}

.title {
    display: flex;
    align-items: center; 
}

.title p {
    margin-left: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.content-item {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
    padding: 0 30px;
    color: #aaa;
    font-size: 1.2rem;
    transition: 0.4s ease;
}

.content-item:hover {
    cursor: pointer;
}

.content-item:hover .numb {
    font-size: 1.7rem;
    color: black;
    font-weight: bold;
    transition: 0.4s ease;
}







