html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:after, *:before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background-color: #434752;
	font: 14px "Roboto";
}

.back-to-main {
	position: fixed;
	top: 20px;
	left: 20px;
}

.back-img {
	width: 30px;
	height: 30px;
}

.card {
	display: flex;
	flex-direction: row;
	width: 880px;
	height: 500px;
	margin: 100px auto 0;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px -1px rgba(0,0,0,0.5),
				0 5px 24px -1px rgba(0,0,0,0.4);
}

.leftSide {
	width: 545px;
	height: auto;
}

.rightSide {
	width: 335px;
	height: auto;

}

.leftSide header {
	padding: 50px 50px 40px 50px;
	display: flex;
	flex-direction: column;
}

.headerBig {
	font-size: 36px;
	font-weight: 100;
	margin-bottom: 10px;
}

.headerSmall {
	font-weight: 500;
	font-size: 0.8rem;
	color: #B6B1B1
}

.socialNetworks {
	display: flex;
	flex-direction: column;
}

.snContainer {
	width: 442px;
	height: 50px;
	text-decoration: none;
	border: 1px solid #F0F2F5;
	border-radius: 5px;
	margin: 0 auto;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	transition: 0.3s;
}

.snContainer:hover {
	border: 1px solid transparent;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 
				 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: 0.3s;
}

.snContainer:hover p {
	color: black;
}

.snContainer img {
	width: 20px;
	height: 20px;
	margin-left: 20px;
}

.snContainer p {
	color: #919296;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	margin: 0 auto;
	padding-right: 40px;
}

.line {
	border-top: 1px solid #F0F2F5;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
	margin-top: 50px;
}

footer {
	padding: 20px 0 0 50px;
	display: flex;
	flex-direction: row;
}

.stillEmail {
	font-size: 11.5px;
	font-weight: bold;
}

.signUpEmail {
	margin-left: 110px;
	font-size: 10.5px;
	font-weight: bold;
	text-transform: uppercase;
	color: #919296;
	text-decoration: none;

}

.signUpEmail:hover {
	color: black;
	
}
.rightSide img {
	width: 100%;
	height: 500px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px; 
}