html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:after, *:before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background-color: #F7CD75;
	font-family: "Roboto", sans-serif;
}

.back-to-main {
	position: fixed;
	top: 20px;
	left: 20px;
}

.back-img {
	width: 30px;
	height: 30px;
}

.card {
	width: 1200px;
	height: 600px;
	margin: 100px auto 0;
	display: flex;
	flex-direction: row;
}

.leftSide {
	width: 400px;
	background-color: #F2F2F2;
	overflow-x: hidden;
	overflow-y: scroll;
}

.leftHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
	padding: 0 50px;
}

.leftHeader p {
	font-size: 24px;
	font-weight: 400;
	margin: 0;
}

.leftHeader img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid transparent;
	padding: 5px;
}

.leftHeader img:hover {
	cursor: pointer;
	border: 1px solid #aaa6a4;
}

.walletContainer {
	width: 300px;
	height: 150px;
	margin: 50px;
	border-radius: 3px;
	border: 2px solid transparent;
	background-color: white;
}

.walletContainer:hover {
	border: 2px solid #919CCA;
	cursor: pointer;
}

.walletContainer img {
	width: 75px;
	height: 50px;
	margin: 15px 0 0 20px;
}

.cardNumber {
	margin: 10px 0 0 20px;
	color: #828B92;
	font-size: 18px;
	font-weight: 440;
}

.validUntil {
	margin: 10px 0 0 20px;
	color: #828B92;
	font-style: 15px;
	font-weight: 450;
}

.active {
	border-color: #919CCA;
	border-width: 2px;
}

.rightSide {
	background-color: white;
	width: 800px;
	overflow-x: hidden;
	overflow-y: scroll;
}


.rightHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rightHeader p:first-child {
	margin: 50px 0 0 50px;
	font-size: 24px;
	font-weight: 400;
}

.rightHeader p:last-child {
	margin: 50px 50px 0 0;
	font-size: 24px;
	font-weight: bold;
}

.line {
	width: 700px;
	height: 1px;
	background-color: #828B92;
	margin: 50px auto 0;

}

.historyContainer {
	display: flex;
	flex-direction: column;
	margin: 20px 0 0 0;
}

.containerInfo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.containerInfo img {
	width: 20px;
	height: 20px;
	border: 1px solid #828B92;
	border-radius: 50%;
}

.containerContent {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 40px 50px 0 50px;
	justify-content: space-between;
}

.infoContainer {
	margin: 0 0 0 40px;
}

.infoContainer h4 {
	margin: 10px 0;
	font-size: 22px;
}

.infoContainer p {
	margin: 5px 0;
	color: #828B92;
	font-weight: 440;
}

.price {
	font-size: 22px;
	font-weight: bold;
	color: #919CCA;
}

.plus {
	color: #8BCF5F;
}










