h1, h2, h3, h4, h5, h6, p { margin: 0; }
a { text-decoration: none; }

ul, li { margin: 0; padding: 0; }
li { list-style: none; }


body {
    background-color: #4677F6;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.back-to-main {
	position: fixed;
	top: 20px;
	left: 20px;
}

.back-img {
	width: 30px;
	height: 30px;
}

.wrapper {
    width: 440px;
    margin: 50px auto;
    background-color: #fff;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.nav-title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

.nav-menu-img,
.nav-search-img {
    opacity: .3;
}

.nav-menu-img:hover,
.nav-search-img:hover {
    opacity: 1;
    transition: .4s;
}


.roadmap {
    width: 96%;
    height: 100px;
    background: linear-gradient(
                rgba(76, 147, 244, 0.75), 
                rgba(76, 147, 244, 0.75)
    ), url('img/map.png') no-repeat center;
    position: absolute;
    left: -2.5%;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 7px 20px -5px rgba(0, 0, 0, .5);
}

.from-to {
    width: 90%;
    display: flex;
    padding: 20px;
}

.from-to-point {
    font-size: 0.95rem;
    font-weight: 500;
}

.from-to-box {
    width: 60%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
}

.round {
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background-color: #fff;
}

.from-to-line {
    width: 60%;
    height: 2px;
    background-color: rgba(255, 255, 255, .6);
}

.active-line {
    width: 30%;
    background-color: #fff;
}

.from-to-car-img {
    position: absolute;
    top: -13px;
    left: 30%;
    width: 20px;
    height: 20px;
}

.time-distance-box {
    width: 70%;
    justify-content: space-between;
    font-size: 0.9rem;
    padding: 0 20px;
}

.time-distance-box,
.time-box,
.distance-box {
    display: flex;
}

.bold {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;
}

.open-map {
    position: absolute;
    bottom: -17px;
    right: 30px;
    border: none;
    border-radius: 3px;
    background-color: #4677F6;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.open-map-location-img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}


.directions {
    margin-top: 150px;
    padding: 30px 0 30px 30px;
}

.directions-starting-point {
    font-size: 1rem;
    font-weight: 500;
}

.next-direction {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.next-station {
    margin-left: 20px;
}

.next-station-time,
.next-station-move {
    margin: 5px 0;
}

.next-station-time {
    color: #a9a9a9;
    font-size: .8rem;
    font-weight: 400;
}

.next-station-move {
    font-size: .85rem;
    font-weight: 400;
}

.next-active {
    font-weight: 500;
}

.next-direction-img-box {
    width: 100%;
    height: 70px;
    background-image: url("img/streetview.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
}

.next-direction-img-box::before {
    content: url("img/marker.svg");
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
}
