body {
    background: #78ACCD;
    font-family: "Roboto", sans-serif;
}

.back-to-main {
	position: fixed;
	top: 20px;
	left: 20px;
}

.back-img {
	width: 30px;
	height: 30px;
}

.calendar {
    width: 380px;
    margin: 100px auto;
    background: #fff;
}

.calendarHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.currentDate {
    font-size: 1em;
    font-weight: 500;
    color: #798892;
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.calendarRow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekDay, .weekNumberDay {
    padding: 8px;
    margin: 3px 2px;
}

.weekDay {
    color: #798892;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    margin-bottom: 5px;
}

.weekNumberDay {
    font-size: 0.9em;
    font-weight: 500;
    color: #000;
    border-radius: 50%;
    border: 2px solid transparent;
}

.weekNumberDayDisabled {
    opacity: 0.2;
}

.calendarFooter {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.btn {
    border-radius: 50%;
    border: 2px solid #DE6E46;
    outline: none;
    width: 2.1em;
    height: 2.1em;
    color: #000;
}

.btn:hover {
    cursor: pointer;
}

.today {
    background: #DE6E46;
    color: #fff;
}

.planned {
    position: relative;
    border-color: #DE6E46;
}

.planned[data-planned]:after {
    position: absolute;
    top: -7px;
    right: -8px;
    content: attr(data-planned);
    border-radius: 50%;
    background: #DE6E46;
    color: #fff;
    font-size: 0.8em;
    padding: 3px 6px;
}